{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}
{% block body %}
{% trans_default_domain 'FOSUserBundle' %}


<div class="products ">

    <div class="container ui centered grid">
        <div class="row">
            <div class="col-xl-6">

                <div class="html ui top attached segment">
                    <div class="field">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register ui form'}}) }}
                        {{ form_widget(form) }}
                    </div>
                    <div class="ui checkbox">
                    </div>
                    <div> 
                        <input class="ui button" type="submit" id="_submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
                </div>
		  
            </div>
        </div>
    </div>
</div>

{% endblock %}
