{% extends 'base.html.twig' %}
{% block title %}RoroLaBrocante - {{ controller_name }}{% endblock %}
{% block body %}

<div class="super_container">

	<div class="super_container_inner">
		<div class="super_overlay"></div>
        <div class="products">

           <div class="html ui top attached segment">
                <div class="ui four top attached steps">
                    <div class="completed step">
                        <i class="user icon"></i>
                        <div class="content">
                        <div class="title">Information</div>
                        <div class="description">Vos informations personnelles</div>
                    </div>
                    </div><div class="active step">
                        <i class="truck icon"></i>
                        <div class="content">
                        <div class="title">Livraison</div>
                        <div class="description">Information sur la Livraision</div>
                        </div>
                    </div>
                    <div class="disabled step">
                        <i class="payment icon"></i>
                        <div class="content">
                        <div class="title">Payement</div>
                        <div class="description">Votre méthode de payement</div>
                        </div>
                    </div>
                    <div class="disabled step">
                        <i class="info icon"></i>
                        <div class="content">
                        <div class="title">Confirmation</div>
                        <div class="description">Verifier vos details</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container simple">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box tete-box">
                                <h3 class="tete-text">Information sur la Livraison</h3>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="box">
                            <div class="field">
                                {{ form_start(form, {'method': 'post', 'action': path('livraison'), 'attr': {'class': 'ui form'}}) }}
                                {{ form_widget(form) }}
                            </div>

                            <div class="ui checkbox">
                            </div>
                            <div> 
                                <input class="ui button" type="submit" id="_submit" value="Envoyer" />
                            </div>
                            
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}